*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #242323;
    color: white;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
/********************************* ESTILOS DEL NAVBAR ************************************/
.nav{
    width: 100%;
    height: auto;
    padding: 4rem;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nav .logo__container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav .logo__container img{
    width: 128px;
    height: 128px;
}
.nav .menu__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .menu__container .nav__list{
    list-style: none;
    display: inline-flex;
}
.nav .menu__container .nav__list .list__item{
    margin: 0 3rem;
    padding-bottom: 2rem;
}
.nav .menu__container .nav__list .list__item .item__link{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    transition: all .8s;
}
.nav .menu__container .nav__list .list__item .item__link:hover{
    transform: scale(1.5);
    font-weight: bold;
}
/******************************************* FOOTER ****************************************************/
.footer{
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer .footer__title{
    font-size: 2rem;
    font-weight: 200;
}